.box{
    position:absolute;
    width:100px;
    height:100px;
    transform:translate(-50%,-50%);
}

#updateRecord {
    top:50%;
    left:70%;
}

#patients {
    top:50%;
    left:30%;
}

#processing{
	position:absolute;
	font-size: 30px;
	white-space:nowrap;
	transform:translate(-50%,-50%);
	top:17.5%;
	left:50%;
	color:white;
}

#loading{
	display: none;
	position: absolute;
	height:50%;
    transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;

}